*{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
}



nav{
    position: fixed;
    width: 100%;
    height: 90px;
    box-shadow: 0px 0px 5px rgba(148, 146, 146, 0.603);
    display: flex;
    top: 0;
    background-color: white;
    z-index: 2;
}
.nav--wrapper{
    padding: 0 10%;
    width: 100%;
    height: 100%;
    
}


nav .box_logo{
    max-width: 180px;
    height: 100%;
    display: inline-block;
    margin-right: 30px;
    margin-left: 10%;
   
}

.box_logo--logo{
   width: 100%;
   height: auto;
   padding: 25px 10px;
   
    
}

.box_header_right{
    width: 100%;
    height: 100%;
    
    margin-right: 10%;
   
    
}

nav p{
   display: inline;
   padding: 25px 0px 0px 50px;
   font-size: 15px;
   color:rgba(53, 52, 52, 0.5);
   font-weight: 600;
   
}


.box_header_right--container{
    width: auto;
    height: 100%;
    position: relative;
    float: right;  
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    
    padding-top: 30px;
}
nav p:hover{
    color: rgb(224, 62, 89);
}
















/******* Section **/


section{
    width: 100%;
    height: auto;
    
    
}

.box_container{
    min-height: 580px;
    height: 82vh;
    width: 100%;
    display: block;
    background-color: rgba(3, 3, 3, 0.452);
    
}

.section_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(3, 0, 41, 0.856);
   /* background-color: rgba(247, 234, 234, 0.699);*/
   
    
}
.section_wrapper--left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section_wrapper--right{
    width: 50%;
    height: 100%;
    position: relative;
   
   
}


section p{
    font-size: 60px;
}


.section_wrapper--left--box{
    display: flex;
    height: 60%;
    width: 100%;
    position: relative;
    flex-direction: column;
   
}
.section_wrapper--left--box span{
    width: 100%;
    min-height: 250px;
    top: 30%;
    position: relative;
}
.section_wrapper--left--box--p1{
    display: block;
    font-weight: 700;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: p_section 1 1s linear;
    transition: all .1s linear;
    position: relative;
    width: 100%;
    margin: 0%;
    padding-left: 10%;
    height: 50%;
    top: 20%;
    font-size: 2vw;
  
    
   

   
   

}

.section_wrapper--left--box--p2{
    position: relative;
    display: block;
    width: 100%;
    color:rgba(182, 182, 182, 0.664);
    height: 30%;
    
    font-size: 0.8vw;
    font-weight: 700;
    padding-left: 10%;
    
   
   
  
}
.section_wrapper--left--down{
    display: inline-block;
    width: 100%;
    height: 30%;
    position: relative;
    
   
}
.section_wrapper--left--down--btn{

    position:absolute;
    max-height: 12%;
    width: auto;
    margin: 0 60% 0% 10%;
    border-radius: 0.2rem;
    text-align: center;
    padding:  0 0.9rem;
    color:white;
    background-color: rgba(20, 250, 143, 0.349);
    font-size: 1vw;
    font-weight: 600;
    

}
.section_wrapper--left--down--btn:active{
    background-color: rgba(3, 0, 41, 0.856);
    color:white;
    border: 1px solid  rgba(20, 250, 143, 0.349)
}

.section_wrapper--left--down--btn:hover{
    background-color: rgba(3, 0, 41, 0.856);
    color:white;
    border: 1px solid  rgba(20, 250, 143, 0.349)
}



/*Section Down*/

.container_section--down{
    min-height: 500px;
    height: 80vh;
    width: 100%;
    display: flex;
    position: relative;
    margin: 0;
  
   
    
}

.article_left{
    height: 100%;
    width: 30%;
   /* margin-top: auto;*/
    position: relative;
    object-fit: cover;
}
.article_left--img{
    position: relative;
    top:25%
}



.article_right{
    height: 100%;
    width: 100%;
    position: relative;
}
.article_right--box{
    height: 70%;
    position:relative;
    display: flex;
    flex-direction: column;
    top: 15%;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;;
    
}
.article_right--box--p1{
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    font-size: 3vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.842);
    font-family:Arial, Helvetica, sans-serif;
   
}

.article_right--box--p2{
    height: auto;
    width: 80%;
    display: block;
    position: relative;
    font-size: 1vw;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.356);
    font-family:Arial, Helvetica, sans-serif;
   

}
.article_right--box span{
    position: relative;
    width: 100%;
    display: flex;
    
    height: auto;
    
}
.article_right--box--p3{
    font-size: 2.5vw;
    color:rgba(188, 88, 219, 0.986);
    font-weight: 200;
}
.article_right--box--p4{
    font-size: 1.5vw;
    color:rgba(0, 0, 0, 0.856);
    font-weight: 100;
}

/***Aside**/
aside{
    width: 100%;
    height: 90vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 247, 247, 0.932);
}
.asideUp_box{
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    top:3%;
    
}

.asideUp_box p{
    width: auto;
    align-items: center;
    color: rgba(10, 10, 10, 0.801);
    font-size: 3vw;
    font-weight: 300;
    height: auto;
    margin: auto 0;
    position: relative;
    
}
.asideUp_box--img{
    max-width: 13vh;
    min-width: 90px;
    height: auto;
    margin: auto 0;

   

}
.asideDown_box{
    top:10%;
    height: 67%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:5%;
    position: relative;

}
.asideDown_box--row1{
    height: 80%;
    margin: auto 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5%;
   
    
    position: relative;
}
.asideDown_box--row1--img1{
    max-width: 50%;
    position: relative;
    object-fit: fill
}
.box_skill{
    height: 100%;
    width: 33.3%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap:10%;

}

.box_skill p{
    margin: 0;
    text-align: center;
    font-size: 1vw;
    color:rgb(59, 59, 59);
    position: relative;
    height: auto;
}


.box_skill--span1{
    height: 15%;
    width: 100%;
    text-align: center;
    background-color:rgba(21, 13, 128, 0.856) ;
    
    position: relative;
    border-radius: 2px;
    display: flex;
    justify-content: center;

}
.box_skill--span1 p{
    height: auto;
    color:white;
    font-size: 1vw;
    font-weight: 500;
    padding: 0.9rem 0;
    max-width: 40%;
  
}
.box_skill--span_img{
    max-height: 50%;
    top: 25%;
    position: relative;
    max-width: 10%;
    
}
.box_skill--span2{
    height: 15%;
    width: 100%;
    text-align: center;
    background-color:rgba(55, 3, 80, 0.856) ;
    position: relative;
    border-radius: 2px;
    display: flex;
    justify-content: center;

}
.box_skill--span3 {
    height: 15%;
    width: 100%;
    text-align: center;
    background-color:rgba(106, 14, 124, 0.856);
    
    position: relative;
    border-radius: 2px;
    display: flex;
    justify-content: center;
   

}
.box_skill--span2 p{
    height: auto;
    color:white;
    font-size: 1vw;
    font-weight: 500;
    padding: 0.9rem 0;
    
    max-width: 40%;
    
}
.box_skill--span3 p{
    font-size: 1vw;
    font-weight: 500;
    color:white;
    padding: 0.9rem 0;
    max-width: 40%;
  

}

/*******Media Query**/

@media screen and (max-width: 1033px){

    .box_header_right{
        width: 0%;
        display: none;
        
    }
    .box_container{
        background-image: url("https://img.freepik.com/free-photo/beautiful-view-greenery-bridge-forest-perfect-background_181624-17827.jpg?w=2000");
        background-size: 100% 100%;
        object-fit:cover;
        height: 70vh;
       

    }
    .section_wrapper{
        flex-direction: column;
        width: 100%;
       
    }
    
    .section_wrapper--left{
        width: 100%;
    }
    .section_wrapper--left--box span{
        height: 100%;
        position: relative;
        top:0%;
    }

    .section_wrapper--left--box{
        height: 60%;
        min-height: 100px; 
        width: 100%;
        position: relative;
       
        
        
       
     
    }

    .section_wrapper--left--box--p1{
        
        width: 60%;
        margin: 0 20%;
        min-width: 10vw;
        height: auto;
        max-height: 14.6vh;
        font-size: 3.5vw;
        position: absolute;
        top:70%;
        padding-bottom: 0.9rem;
        color: white;
       
        
       

      
     
  
    }
       .section_wrapper--left--box--p2{
        display: none;
     
  
    }
    .section_wrapper--left--down{
        height: 40%;
        min-height: 30%;
        width: 100%;
        position: relative;
      
       
        
       
        
    }
    .section_wrapper--left--down--btn{
        top: 10%;
        min-height: 30px;
        height: auto;
        width: 40%;
        margin: 0 30%;
        position: absolute;
        font-size: 0.7em;
        text-align: center;
        padding: 0.3rem 0;
        
       
        
    }
  
   
 
   
    .section_wrapper--right{
        display: none;
    }
    .container_section--down{
        flex-direction: column;
        min-height: 530px;
        height:auto;
        gap: 0.5rem;  
    }
    .article_left{
      top: 0%;
      
      height: auto;
      max-width: 40vh;
      min-width: 30vh;
      
      margin: 0 auto;
      display: block;
     
      
    }
    .article_left--img{
        width: 100%;
        
        top:0%;
        object-fit: cover;
       

        
    }
    .article_right{
        width: 100%;
        height: 60%;
        position: relative;
        display: block;


        
        
    }
    .article_right--box{
        width: 60%;
        margin: 0 auto;
        height: 100%;
        position: relative;
    }
    .article_right--box--p1{
        font-size: 6vw;
    }
    .article_right--box--p2{
        font-size: 3vw;
    }
    .article_right--box--p3{
        font-size: 5vw;
    }
    .article_right--box--p4{
        font-size:2.2vw;
    }
    aside{
        min-height: 600px;
        height: auto;
    }

    .asideUp_box{
        position: relative;
        min-height: 20vh;
        width: 60%;
        margin: 0 auto;
        top:10%;
    }
    .asideUp_box--img{
        width: 40%;
        min-height: 150px;
        object-fit: contain;
        position:relative;
    }
    .asideUp_box p{
        display: none;
    }

    .asideDown_box--row1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        position: relative;
        height: auto;
    }
    .box_skill{
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 5%;
        gap:0.9rem
       

    }
    .box_skill p{
        font-size: 2vw;
    }
    .box_skill--span1{
        min-height: 5vh;

    }
    .box_skill--span1 p{
        font-size: 2vw;
        font-weight: 600;
        padding: 1.4em 0;
    }
    .box_skill--span2 p{
        font-size: 2vw;
        color: white;
        font-weight: 600;
        padding: 1.4em 0;
    }
    .box_skill--span3 p{
        font-size: 2vw;
        color: white;
        font-weight: 600;
        padding: 1.4em 0;
    
    }
    .box_skill--span_img{
        padding: 0.6rem 0;
    }
    
}

/*****Animazioni**/

@keyframes p_section {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }